/* line 1, ../sass/stylesheet.scss */
body {
  padding-top: 70px;
}

/* 
*
* bootstrap site header overrides 
*
*/
/* line 11, ../sass/stylesheet.scss */
.navbar-brand {
  padding: 5px;
}

/* line 15, ../sass/stylesheet.scss */
.navbar-default .navbar-brand {
  color: #999999;
}

/* line 19, ../sass/stylesheet.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

/* line 23, ../sass/stylesheet.scss */
.navbar-default {
  background-color: #1b1b1b;
}

/* line 27, ../sass/stylesheet.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #999999;
  background-color: #111111;
}

/* line 32, ../sass/stylesheet.scss */
.navbar-default .navbar-nav > li > a {
  color: #999999;
}

/* line 36, ../sass/stylesheet.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

/* line 40, ../sass/stylesheet.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #111111;
}

/* line 44, ../sass/stylesheet.scss */
.navbar-brandname {
  padding: 10px 10px;
}

/*
*
* blog
*
*/
/* line 54, ../sass/stylesheet.scss */
.postFooter {
  margin-top: 10px;
}

/*
*
* collection
*
*/
/* line 64, ../sass/stylesheet.scss */
.gameBoxArt {
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 3px #000000, 0 0 0 1px #FFFFFF;
}

/* line 69, ../sass/stylesheet.scss */
.collectionStatusBadge {
  width: 85px;
}

/* 
* 
* search 
*
*/
/* line 79, ../sass/stylesheet.scss */
.searchResults {
  padding-top: 20px;
}

/* line 83, ../sass/stylesheet.scss */
.searchResultImage {
  width: 23.40426%;
}

/* line 87, ../sass/stylesheet.scss */
.searchResultBody {
  margin-left: 1%;
  width: 74.59574%;
}

/* line 92, ../sass/stylesheet.scss */
.searchResultBody h4 {
  margin-top: 0px;
}

/* line 96, ../sass/stylesheet.scss */
.searchResultButton {
  margin-bottom: 10px;
}

/* 
* 
* game page
*
*/
/* line 106, ../sass/stylesheet.scss */
.gamePageBoxArt {
  width: 100%;
}

/* line 110, ../sass/stylesheet.scss */
.gamePageFactsLabel {
  width: 120px;
  font-size: 12px;
}

/* line 115, ../sass/stylesheet.scss */
.gamePageFactsDetails {
  font-size: 12px;
}

/* line 119, ../sass/stylesheet.scss */
.readMoreOn {
  float: right;
  margin: 0px;
}

@media (max-width: 480px) {
  /* search */
  /* line 126, ../sass/stylesheet.scss */
  .searchResultImage, .searchResultBody {
    margin-left: 0%;
    width: 100%;
  }

  /* line 130, ../sass/stylesheet.scss */
  .searchResultBody h4 {
    margin-top: 10px;
  }
}
/*
*
* admin 
*
*/
/* line 141, ../sass/stylesheet.scss */
#wysihtml5-textarea {
  height: 500px;
}
