$jumboron: #eeeeee;
$grey: #898f9c;

body {
	padding-top: 70px;
}

/* 
* bootstrap site header overrides 
*/

.navbar-brand {
    padding: 5px;
}

.navbar-default .navbar-brand {
    color: #999999;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #ffffff;
}

.navbar-default {
    background-color: #1b1b1b;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #999999;
    background-color: #111111;
}

.navbar-default .navbar-nav > li > a {
    color: #999999;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #111111;
}

.navbar-brandname {
    padding: 10px 10px;
}

/* 
* bootstrap modal override 
*/

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}

/* 
* bootstrap progress bar override 
*/

.progress-bar {
    padding-top: 2px;
}

/*
* homepage
*/

#homepageJumbotron {
    background: $jumboron url('/images/watermark.png') no-repeat right;
}

#homepageJumbotron .btn {
    margin-top: 10px;
}

.userActivity {
    height: 200px;
    overflow-y: scroll;
}

.userActivityItem {
    padding: 10px;
}

.userActivityItem div {
    padding-left: 10px;
}

.userActivityDateStamp {
    color: $grey;
    float: right;
}

/*
* blog
*/

.responsiveImage {
    width: 100%;
    margin-bottom: 10px;
}

.responsiveVideo {
    margin-bottom: 10px;
}

.postFooter {
    margin-top: 10px;
}

.blogLogo {
    text-align: center;
}

.blogComments {
    padding: 10px;
}

.commentFields {
    width: 100%;
}

/*
* collection
*/

.imageShadow {
	border: 1px solid #FFFFFF;
    box-shadow: 0 1px 3px #000000, 0 0 0 1px #FFFFFF;
}

.collectionStatusBadge {
	width: 85px;
}

/* 
* search 
*/

.searchResults {
    padding-top: 20px;    
}

.searchResultImage {
    width: 23.40426%;
}      

.searchResultBody {
    margin-left: 1%;
    width: 74.59574%;
}

.searchResultBody h4 {
    margin-top: 0px;
}

/* 
* game page
*/

.gamePageBoxArt {
    width: 100%;
    margin-bottom: 10px;
}

.gamePageFactsLabel {
    width: 120px;
    font-size: 12px;
}

.gamePageFactsDetails{
    font-size: 12px;
}

.progressionSaveButton{
    width: 100%;
}

/*
* profile
*/

.profileTabs {
    margin-bottom: 20px;
}

.profileNav {
    margin: 10px 0;
}

.largeProfileImage {
    width: 100%;    
}

.userBio {
    margin: 10px 0;
    text-align: center;
}

.userEvent .media {
    margin-top: 0px;
}

.userEvent .panel-body {
    padding-bottom: 5px;
}

.eventTitle {
    margin-bottom: 10px;
}

.eventImage {
    width: 80px;
    height: 80px;
}

.datestamp {
    color: $grey;
    font-size: 10px;
}

.gameDeck {
    font-size: 12px;
}

.tinyIconImage {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.eventComment, .currentlyPlayingTitle {
    padding: 0 10px;
}

.eventCommentDisplay {
    margin-bottom: 10px;
    font-size: 12px;
}

.eventComment, .eventComment img {
    width: 100%;
}

.handPointer {
    cursor: pointer;
}

/*
* collection 
*/

.collectionStats {
    text-align: center;
}

.collectionStats span {
    font-size: 5vw;
}

.filters {
    padding-left: 10px;
}

.filters li { 
    list-style-type: none;
}

.filters label {
    font-weight: normal;
}

.currentlyPlaying {
    margin-bottom: 10px;
}

.collectionItem {
    margin-bottom: 5px;
    padding: 8px 10px;
}

#gameCollectionViewMore {
    margin: 10px 0;
}

// Add a not-allowed cursor to read only inputs so that they appear the same as disabled inputers
input[readonly] {
    cursor: not-allowed;
}

/*
* admin 
*/

#blogPostTextArea {
    height: 500px;
}

/*
* general
*/

.footer {
    padding-bottom: 20px;
}

.socialIcons img {
    margin-bottom: 3px;
}

.btn-fullWidth {
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 770px) {
    /* homepage */
    .userActivityDateStamp {
        color: $grey;
        float: none;
        display: block;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    /* search */
    .searchResultImage, .searchResultBody {
        margin-left: 0%;
        width: 100%;  
    } 
    .searchResultBody h4 {
        margin-top: 10px;
    } 
}

@media (max-width: 350px) {
    /* profile */
 
    .eventTitle {
        font-size: 12px;
    }
}